<div class="menu app-menu">

  {% if perms.libtekin.view_item %}
    {% if object_class_name == 'item' %}
      <div class="menu-item menu-here">
        Items
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{% url 'libtekin:item-list' %}">Items</a>
      </div>
    {% endif %}
  {% endif %}
  {% if perms.libtekin.view_mmodel %}
    {% if object_class_name == 'mmodel' %}
      <div class="menu-item menu-here">
        Models
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{% url 'libtekin:mmodel-list' %}">Models</a>
      </div>
    {% endif %}
  {% endif %}
  {% if perms.libtekin.view_itemnote %}
    {% if object_class_name == 'itemnote' %}
      <div class="menu-item menu-here">
        Item Notes
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{% url 'libtekin:itemnote-list' %}">Item Notes</a>
      </div>
    {% endif %}
  {% endif %}

</div>
