{% load static %}
{% load url_utils %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>Library Technical Inventory</title>
<link rel="stylesheet" href="{% static 'libtekin/libtekin.css' %}">
</head>
<body>
{% block menu %}
<div class="menu menu-top">
<div class="menu-item menu-item-home">Home</div>
<div class="menu-item"><a href="{% url 'libtekin:item-list' %}">List</a></div>
  {% url_if 'profile' as url_if %}
  {% if url_if > '' %}
    <div class="menu-item">
      <a href="{{ url_if }}">{{ user.username }}</a> /
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  {% else %}
    <div class="menu-item"><a href="{% url 'logout' %}">Logout {{ user.username }}</a></div>
  {% endif %}

  </div>
{% endblock %}
{% block content %}{% endblock %}
{% block bottomscript %}{% endblock %}
</body>
</html>
