{% load static %}
{% load url_utils %}
{% load tougshare %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>Library Technical Inventory</title>
{% global_css_file as glocssfile %}
{% if glocssfile %}
  <link rel="stylesheet" href="{% static glocssfile %}">
{% endif %}
<link rel="stylesheet" href="{% static 'libtekin/libtekin.css' %}">
</head>
<body>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block menu %}
{% project_menu_template as promenu %}
{% if promenu %}
  {% include promenu %}
{% endif %}
{% endblock %}
{% block content %}{% endblock %}
{% block bottomscript %}{% endblock %}
</body>
</html>
