<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_ + model_name  %}
      {% if '' + model_name + '-list' == request.resolver_match.url_name %}
        <div class="menu-' + model_name + ' menu-here">
            <a href="{% url 'libtekin:'  + model_name  + '-list' %}">List</a>
        </div>
      {% else %}
        <div class="menu-' + model_name + '">
          <a href="{% url 'libtekin:' + model_name + '-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_' + model_name  %}
      {% if '' + model_name + '-detail' == request.resolver_match.url_name %}
        <div class="menu-' + model_name + ' menu-here">
            <a href="{% url 'libtekin:' + model_name + '-detail' object.pk %}">View</a>
        </div>
      {% elif object.pk %}
        <div class="menu-' + model_name + '">
          <a href="{% url 'libtekin:' + model_name + '-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_' + model_name  %}
      {% if '' + model_name + '-create' == request.resolver_match.url_name %}
        <div class="menu-' + model_name + ' menu-here">
            <a href="{% url 'libtekin:' + model_name + '-create' %}">Add</a>
        </div>

      {% else %}
        <div class="menu-' + model_name + '">
          <a href="{% url 'libtekin:' + model_name + '-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_' + model_name  %}
      {% if '' + model_name + '-update' == request.resolver_match.url_name %}
        <div class="menu-' + model_name + ' menu-here">
            <a href="{% url 'libtekin:' + model_name + '-update' object.pk %}">Edit</a>
        </div>

      {% elif object.pk %}
        <div class="menu-' + model_name + '">
          <a href="{% url 'libtekin:' + model_name + '-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
