{% extends './_form.html' %}
{% load static %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% include './_form_field.html' with field=form.common_name %}
      {% include './_form_field.html' with field=form.mmodel %}
      {% include './_form_field.html' with field=form.role %}
      {% include './_form_field.html' with field=form.primary_id_field %}
      {% include './_form_field.html' with field=form.primary_id %}
      {% include './_form_field.html' with field=form.serial_number %}
      {% include './_form_field.html' with field=form.service_number %}
      {% include './_form_field.html' with field=form.asset_number %}
      {% include './_form_field.html' with field=form.barcode %}
      {% include './_form_field.html' with field=form.network_name %}
      {% include './_form_field.html' with field=form.condition %}
      {% include './_form_field.html' with field=form.home %}
      {% include './_form_field.html' with field=form.location %}
      {% include './_form_field.html' with field=form.assignee %}
      {% include './_form_field.html' with field=form.borrower %}
      {% include './_form_field.html' with field=form.owner %}

      <h3>Notes</h3>
      <button id="btn_add-timelynote">Add Item Note</button>
      <div id="div_insert-timelynote"></div>
      {{ timelynotes.management_form }}
      {% for form in timelynotes.forms %}
        <h4>Note</h4>
        <div class="formset" id="div_timelynote-{{ forloop.counter0 }}">
          {{ form.errors }}
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in form.visible_fields%}
            <div class="fieldWrapper">
              {% if field.errors %}
                <div class="errors">
                  {{ field.errors }}
                </div>
              {% endif %}
              <div class="control">
                <div class="label">
                  {{ field.label_tag }}
                </div>
                <div class="field">
                  {{ field }}
                </div>
              </div>
              <div class="help_text">
                {{ field.help_text}}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div style="display:none" class="emptyformset" id="div_timelynote-empty">
        {% for field in timelynotes.empty_form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in timelynotes.empty_form.visible_fields%}
          <div class="fieldWrapper">
            {% if field.errors %}
              <div class="errors">
                {{ field.errors }}
              </div>
            {% endif %}
            <div class="control">
              <div class="label">
                {{ field.label_tag }}
              </div>
              <div class="field">
                {{ field }}
              </div>
            </div>
            <div class="help_text">
              {{ field.help_text}}
            </div>
          </div>
        {% endfor %}
      </div>
      <button type="submit">Submit</button>
      <input type="checkbox" name="copy">Save as Copy
    </div>
  </form>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>
    addFormsetListener('btn_add-timelynote', "id_timelynote_set-", 'div_timelynote-empty', 'div_insert-timelynote' )

    addRelatedPopupButton( 'id_mmodel', 'Mmodel', '{% url "libtekin:mmodel-create" %}')
    addRelatedPopupButton( 'id_home', 'Location', '{% url "libtekin:location-create" %}')
    addRelatedPopupButton( 'id_location', 'Location', '{% url "libtekin:location-create" %}')
    addRelatedPopupButton( 'id_borrower', 'Entity', '{% url "libtekin:entity-create" %}')
    addRelatedPopupButton( 'id_assignee', 'Entity', '{% url "libtekin:entity-create" %}')
    addRelatedPopupButton( 'id_owner', 'Entity', '{% url "libtekin:entity-create" %}')

    function getControlIds(modelName) {
      console.log('getControlIds is called')
      controlIds={
        'Mmodel': ['id_mmodel'],
        'Location': ['id_location', 'id_home'],
        'Entity': ['id_borrower', 'id_assignee', 'id_owner']
      }
      return controlIds[modelName]
    }

  </script>
  <script>
    function setPrimaryIdField() {
      console.log('in item_form.html')
      console.log('{{ form.primary_id_field.id_for_label }}')
      var primaryIdField = document.getElementById('{{ form.primary_id_field.id_for_label }}')
      var mmodel = document.getElementById('{{ form.mmodel.id_for_label }}')
      var mmodelSelectedOptions = mmodel.selectedOptions
      console.log('mmodelSelectedOptionsCount:')
      console.log(mmodelSelectedOptions.length)
      if(mmodelSelectedOptions.length==1) {
        console.log('mmodelSelectedOptionsCount==1')
        primaryIdField.value=mmodelSelectedOptions[0].getAttribute('data-primary_id_field')
      }
    }
    function getPrimaryIdFromDatabase() {

    }
    document.getElementById('{{ form.mmodel.id_for_label }}').addEventListener('change', function() {
      setPrimaryIdField();
    })
  </script>

{% endblock %}

