{% extends './_form.html' %}
{% load static %}

{% block content %}
  <h2>{{ object }}</h2>
  {% for error in form.non_field_errors  %}
  {{ error }}
  {% endfor %}
  <form method="POST">
    <div class="form" id="div_form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div id="div_common_name">
        {% include './_form_field.html' with field=form.common_name %}
      </div>
      <div id="div_mmodel">
        {% include './_form_field.html' with field=form.mmodel %}
      </div>
      <div id="div_role">
        {% include './_form_field.html' with field=form.role %}
      </div>
      <div id="div_div_primary_id_count">
        {% include './_form_field.html' with field="<div id='div_primary_id_count' class='errors'></div>" %}
      </div>
      <div id="div_primary_id_field">
        {% include './_form_field.html' with field=form.primary_id_field %}
      </div>
      <div id="div_serial_number">
        {% include './_form_field.html' with field=form.serial_number %}
      </div>
      <div id="div_service_number">
        {% include './_form_field.html' with field=form.service_number %}
      </div>
      <div id="div_asset_number">
        {% include './_form_field.html' with field=form.asset_number %}
      </div>
      <div id="div_barcode">
        {% include './_form_field.html' with field=form.barcode %}
      </div>
      <div id="div_network_name">
        {% include './_form_field.html' with field=form.network_name %}
      </div>
      <div id="div_essid">
        {% include './_form_field.html' with field=form.essid %}
      </div>
      <div id="div_phone_number">
        {% include './_form_field.html' with field=form.phone_number %}
      </div>
      <div id="div_connected_to">
        {% include './_form_field.html' with field=form.connected_to %}
      </div>
      <div id="div_status">
        {% include './_form_field.html' with field=form.status %}
      </div>
      <div id="div_home">
        {% include './_form_field.html' with field=form.home %}
      </div>
      <div id="div_location">
        {% include './_form_field.html' with field=form.location %}
      </div>
      <div id="div_assignee">
        {% include './_form_field.html' with field=form.assignee %}
      </div>
      <div id="div_borrower">
        {% include './_form_field.html' with field=form.borrower %}
      </div>
      <div id="div_owner">
        {% include './_form_field.html' with field=form.owner %}
      </div>
      <div id="div_latest_inventory">
        {% include './_form_field.html' with field=form.latest_inventory %}
      </div>
      <div id="div_installation_date">
        {% include './_form_field.html' with field=form.installation_date %}
      </div>

      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}

      <h3>Notes</h3>

      {{ itemnotes.management_form }}
      {% for itemnoteform in itemnotes.forms %}
        {% if itemnoteform.id.value > 0 %}
          <div id="div_itemnoteform_{{ itemnoteform.id.value }}" class="itemnoteformsetform"  >
            {% for hiddenfield in itemnoteform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include './_form_field.html' with field=itemnoteform.when %}
            {% include './_form_field.html' with field=itemnoteform.itemnotecategory %}
            {% include './_form_field.html' with field=itemnoteform.maintext %}
            {% include './_form_field.html' with field=itemnoteform.details %}
            {% include './_form_field.html' with field=itemnoteform.level %}
            {% include './_form_field.html' with field=itemnoteform.flagged %}
            {% include './_form_field.html' with field=itemnoteform.DELETE %}
          </div>
        {% else %}
          <div class="itemnoteformsetform itemnotenewform" >
            {% for hiddenfield in itemnoteform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include './_form_field.html' with field=itemnoteform.when %}
            {% include './_form_field.html' with field=itemnoteform.itemnotecategory %}
            {% include './_form_field.html' with field=itemnoteform.maintext %}
            {% include './_form_field.html' with field=itemnoteform.details %}
            {% include './_form_field.html' with field=itemnoteform.level %}
            {% include './_form_field.html' with field=itemnoteform.flagged %}
            {% include './_form_field.html' with field=itemnoteform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      <table>
        <tr>
          <td><button type="button" id="button_additemnote">Add</button></td><td span="*"></td>
        </tr>
        {% for itemnote in object.itemnote_set.all %}
          <tr id="tr_itemnote_{{ itemnote.id }}">
            <td><button type="button" id="button_edititemnote_{{ itemnote.id }}" data-formid="div_itemnoteform_{{ itemnote.id }}" data-displayid="tr_itemnote_{{ itemnote.id }}" class="itemnote_edit_button">edit</button></td><td>{{ itemnote.when }}</td><td>{{ itemnote.level }}</td><td>{{ itemnote.flagged|yesno:"Flagged,&nbsp;" }}</td><td>{{ itemnote.itemnotecategory|default_if_none:"" }}</td><td>{{ itemnote.maintext }}</td>
          </tr>
        {% endfor %}
      </table>
      <!-- begin primary -->
      <h3>Primary Holders</h3>

      {{ itemassignees.management_form }}
      {% for assigneeform in itemassignees.forms %}
        {{ assigneeform.errors }}
        {% if assigneeform.id.value > 0 %}
          <div id="div_assigneeform_{{ assigneeform.id.value }}" class="assigneeformsetform"  >
            {% for hiddenfield in assigneeform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include './_form_field.html' with field=assigneeform.when %}
            {% include './_form_field.html' with field=assigneeform.entity %}
            {% include './_form_field.html' with field=assigneeform.DELETE %}
          </div>
        {% else %}
          <div class="assigneeformsetform assigneenewform" >
            {% for hiddenfield in assigneeform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include './_form_field.html' with field=assigneeform.when %}
            {% include './_form_field.html' with field=assigneeform.entity %}
            {% include './_form_field.html' with field=assigneeform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      <table>
        <tr>
          <td><button type="button" id="button_addassignee">Add</button></td><td span="*"></td>
        </tr>
        {% for assignee in object.itemassignee_set.all %}
          <tr id="tr_assignee_{{ assignee.id }}">
            <td><button type="button" id="button_editassignee_{{ assignee.id }}" data-formid="div_assigneeform_{{ assignee.id }}" data-displayid="tr_assignee_{{ assignee.id }}" class="assignee_edit_button">edit</button></td><td>{{ assignee.when }}</td><td>{{ assignee.entity }}</td>
          </tr>
        {% endfor %}
      </table>

      <!-- end primary -->
      <!-- begin borrower -->
      <h3>itemBorrowers</h3>

      {{ itemborrowers.management_form }}
      {% for borrowerform in itemborrowers.forms %}
      {{ borrowerform.errors }}
        {% if borrowerform.id.value > 0 %}
          <div id="div_borrowerform_{{ borrowerform.id.value }}" class="borrowerformsetform"  >
            {% for hiddenfield in borrowerform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include './_form_field.html' with field=borrowerform.when %}
            {% include './_form_field.html' with field=borrowerform.entity %}
            {% include './_form_field.html' with field=borrowerform.DELETE %}
          </div>
        {% else %}
          <div class="borrowerformsetform borrowernewform" >
            {% for hiddenfield in borrowerform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include './_form_field.html' with field=borrowerform.when %}
            {% include './_form_field.html' with field=borrowerform.entity %}
            {% include './_form_field.html' with field=borrowerform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      <table>
        <tr>
          <td><button type="button" id="button_addborrower">Add</button></td><td span="*"></td>
        </tr>
        {% for borrower in object.borrower_set.all %}
          <tr id="tr_borrower_{{ borrower.id }}">
            <td><button type="button" id="button_editborrower_{{ borrower.id }}" data-formid="div_borrowerform_{{ borrower.id }}" data-displayid="tr_borrower_{{ borrower.id }}" class="borrower_edit_button">edit</button></td><td>{{ borrower.when }}</td><td>{{ borrower.level }}</td><td>{{ borrower.flagged|yesno:"Flagged,&nbsp" }}</td><td>{{ borrower.borrowercategory|default_if_none:"" }}</td><td>{{ borrower.maintext }}</td>
          </tr>
        {% endfor %}
      </table>

      <!-- end borrower -->



      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}

    </div>

  </form>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>
    addRelatedPopupButton( 'id_mmodel', 'Mmodel', '{% url "libtekin:mmodel-create" %}')
    addRelatedPopupButton( 'id_home', 'Location', '{% url "libtekin:location-create" %}')
    addRelatedPopupButton( 'id_location', 'Location', '{% url "libtekin:location-create" %}')
    addRelatedPopupButton( 'id_assignee', 'Entity', '{% url "libtekin:entity-create" %}')
    addRelatedPopupButton( 'id_borrower', 'Entity', '{% url "libtekin:entity-create" %}')
    addRelatedPopupButton( 'id_owner', 'Entity', '{% url "libtekin:entity-create" %}')

    function getControlIdsForPopups(modelName) {
      controlIds={
        'Mmodel': ['id_mmodel'],
        'Location': ['id_location', 'id_home'],
        'Entity': ['id_assignee', 'id_borrower', 'id_owner']

      }
      return controlIds[modelName]
    }

  </script>
  <script>
    function setPrimaryIdField() {
      var primaryIdField = document.getElementById('{{ form.primary_id_field.id_for_label }}')
      var mmodel = document.getElementById('{{ form.mmodel.id_for_label }}')
      var mmodelSelectedOptions = mmodel.selectedOptions
      if(mmodelSelectedOptions.length==1) {
        console.log('mmodelSelectedOptionsCount==1')
        primaryIdField.value=mmodelSelectedOptions[0].getAttribute('data-primary_id_field')
      }
      movePrimaryIdField()
    }
    function movePrimaryIdField() {
      var primaryFieldDiv = document.getElementById('div_primary_id_field')
      var primaryDiv = document.getElementById('div_' + document.getElementById('{{ form.primary_id_field.id_for_label }}').value)
      if(primaryDiv!=null) {
        var parent = primaryDiv.parentElement
        parent.removeChild(primaryDiv)
        parent.insertBefore(primaryDiv, primaryFieldDiv.nextSibling)
      }
    }
    document.getElementById('{{ form.mmodel.id_for_label }}').addEventListener('change', function() {
      setPrimaryIdField();
    })
    document.getElementById('{{ form.primary_id_field.id_for_label }}').addEventListener('change', function() {
      movePrimaryIdField();
    })

  </script>
  <script>
    let itemnoteEditButtons = document.getElementsByClassName('itemnote_edit_button')
    for( itemnoteEditButton of itemnoteEditButtons){
      itemnoteEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }
    let borrowerEditButtons = document.getElementsByClassName('borrower_edit_button')
    for( borrowerEditButton of borrowerEditButtons){
      borrowerEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }
    let assigneeEditButtons = document.getElementsByClassName('assignee_edit_button')
    for( assigneeEditButton of assigneeEditButtons){
      assigneeEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }

    document.getElementById('button_additemnote').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('itemnotenewform')
    })
    let itemnoteforms = document.getElementsByClassName("itemnoteformsetform")
    for( itemnoteform of itemnoteforms ){
      itemnoteform.style.display="none"
    }
    document.getElementById('button_addborrower').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('borrowernewform')
    })
    let borrowerforms = document.getElementsByClassName("borrowerformsetform")
    for( borrowerform of borrowerforms ){
      borrowerform.style.display="none"
    }
    document.getElementById('button_addassignee').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('assigneenewform')
    })
    let assigneeforms = document.getElementsByClassName("assigneeformsetform")
    for( assigneeform of assigneeforms ){
      assigneeform.style.display="none"
    }

  </script>

  <script>
    addFilterInput("{{ form.mmodel.id_for_label }}")
    addFilterInput("{{ form.connected_to.id_for_label }}")
  </script>

  <script>
    document.getElementById("div_form").addEventListener("change", function(e) {
      let primary_id_field_id = "id_" + document.getElementById("{{ form.primary_id_field.id_for_label }}").value
      if(e.target.id == primary_id_field_id) {
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            if(this.responseText=="0") {
              document.getElementById("div_primary_id_count").innerHTML = ""
            } else if (this.responseText=="1") {
              document.getElementById("div_primary_id_count").innerHTML = "There is 1 other item with this primary id"
            } else {
              document.getElementById("div_primary_id_count").innerHTML = "There are " + this.responseText + " other items with this primary id"
            }
          }
        };

        {% if form.instance.pk %}
          xhttp.open("GET", "{% url 'libtekin:primary-id-count' form.instance.pk '___' %}".replace("___", e.target.value ));
        {% else %}
          xhttp.open("GET", "{% url 'libtekin:primary-id-count' '___' %}".replace("___", e.target.value ));
        {% endif %}
        xhttp.send();
      };
    });
  </script>

{% endblock %}

