{% extends './_base.html' %}
{% load static %}
{% block content %}

<div class="list">
  <div><a href="{% url 'libtekin:itemnote-create' %}">create</a></div>
    <div class="row rowhead">
        {% include 'touglates/list_head.html' with field='' %}
        {% if 'item' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field=labels.item %}
        {% endif %}
        {% if 'level' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field=labels.level %}
        {% endif %}
        {% if 'flagged' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field=labels.flagged %}
        {% endif %}

        {% if 'when' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field=labels.when %}
        {% endif %}
        {% if 'itemnotecategory' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field=labels.itemnotecategory %}
        {% endif %}
        {% if 'maintext' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field=labels.maintext %}
        {% endif %}
        {% if 'details' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field=labels.details %}
        {% endif %}

      </div>

      {% for itemnote in object_list %}
        <div class="row">
          <div class="listfield"><a href="{% url 'libtekin:itemnote-detail' itemnote.pk %}">view</a></div>
          <div class="listfield"><a href="{% url 'libtekin:itemnote-update' itemnote.pk %}">edit</a></div>
          {% if 'item' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=itemnote.item %}
          {% endif %}
          {% if 'level' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=itemnote.level %}
          {% endif %}
          {% if 'flagged' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=itemnote.flagged %}
          {% endif %}

          {% if 'when' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=itemnote.when %}
          {% endif %}
          {% if 'itemnotecategory' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=itemnote.itemnotecategory %}
          {% endif %}
          {% if 'maintext' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=itemnote.maintext %}
          {% endif %}
          {% if 'details' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=itemnote.details %}
          {% endif %}

        </div>
      {% endfor %}
      <div>Count: {{ count }}</div>

    </div>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a id="a_first" href="?page=1">&laquo; first</a>
            <a id="a_previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a id="a_next" href="?page={{ page_obj.next_page_number }}">next</a>
            <a id="a_last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}
{% block bottomscript %}
  {{ block.super }}
{% endblock %}
