{% extends './_base.html' %}
{% load static %}
{% block content %}
  <button type="button" id='btn_showvista' class="show" data-showtext="Show the Sort Filter Form" data-hidetext="Hide the Sort Filter Form">Show Sort/Filter form</button>
  <div id="div_vista">
    <form id="frm_vista" name="entered_filter" method="POST">
      <div class="vista">
        {% csrf_token %}
        <div class="rowlabel">
          Sort By
        </div>
        <div class="controlset">
          <select name="order_by">
            {% for field in order_by_fields_available %}
              <option value="{{ field.name }}"{% if order_by.0 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
            {% endfor %}
          </select>
          <select name="order_by">
            {% for field in order_by_fields_available %}
              <option value="{{ field.name }}"{% if order_by.1 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
            {% endfor %}
          </select>
          <select name="order_by">
            {% for field in order_by_fields_available %}
              <option value="{{ field.name }}"{% if order_by.2 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="rowlabel">
          Search Across Text Fields
        </div>
        <div class="controlset">
          <input id="ctl_combined_text_search" name="combined_text_search" value="{{ combined_text_search }}">
        </div>
      </div>
      <script>
        var qty_searches = 10
      </script>
      {% for filterset in filter %}
        <div id="div_fieldsearch__{{ forloop.counter0 }}" class="vista fieldsearch">
          <div class="rowlabel">
            Field Search
          </div>
          <div class="controlset filterselectfield">
            <select id="ctl_filter__field__{{ forloop.counter0 }}" name="filter__fieldname__{{ forloop.counter0 }}" autocomplete="off">
              <option value="">---</option>
              <option value='primary_id'{% if filterset.fieldname == 'primary_id' %} selected="SELECTED"{% endif %}>{{ item_labels.primary_id }}</option>
              <option value='common_name'{% if filterset.fieldname == 'common_name' %} selected="SELECTED"{% endif %}>{{ item_labels.common_name }}</option>
              {% comment %} <option value='mmodel'{% if filterset.fieldname == 'mmodel' %} selected="SELECTED"{% endif %}>{{ item_labels.mmodel }}</option>
              <option value='role'{% if filterset.fieldname == 'role' %} selected="SELECTED"{% endif %}>Role</option> {% endcomment %}
            </select>
          </div>
          <div id="div_filter__primary_id__{{ forloop.counter0 }}" class="controlset filter__value" style="display:none">
            <input type="hidden" id="ctl_filter__op__primary_id__{{ forloop.counter0 }}" name="filter__op__{{ forloop.counter0 }}" value="contains">
            <input id="ctl_filter__value__primary_id__{{ forloop.counter0 }}" value="{{ filterset.value }}">
          </div>
          <div id="div_filter__common_name__{{ forloop.counter0 }}" class="controlset filter__value" style="display:none">
            <input type="hidden" id="ctl_filter__op__common_name__{{ forloop.counter0 }}" name="filter__op__{{ forloop.counter0 }}" value="contains">
            <input id="ctl_filter__value__common_name__{{ forloop.counter0 }}" value="{{ filterset.value }}">
          </div>


        </div>
      {% endfor %}

      <div class="vista">
        <div class="rowlabel">
          Paginate By
        </div>
        <div class="controlset value">
          <input name="paginate_by" value="{{ paginate_by }}">
        </div>

        <div class="rowlabel">
          Show Fields
        </div>
        <div class="controlset value">
          <select multiple="multiple" name="show_columns">
            {% for field in showable_fields %}
              <option value="{{ field.name }}"{% if field.name in show_columns %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="vista">
        <div class="rowlabel">
          Save Search
        </div>
        <div class="controlset">
          <input name="vista__name" value="">
        </div>

        <div class="rowlabel">
          &nbsp;
        </div>
        <div class="controlset">
          <button type="submit" name="vista_query_submitted" value='True'>Search</button>
        </div>
        <div class="help_text">
          &nbsp;
        </div>
      </div>
    </form>
    <script>

      function showFilterField(select) {
        let ctlNum = select.id.substring(19)
        console.log('tp m35g46 ', ctlNum)
        for(opt of select.options) {
          console.log('tp m35g47', opt.value)
          if(opt.value){
            console.log('tp m36k07', 'div_filter__' + opt.value + '__' + ctlNum )
            console.log('tp m36k07', opt.value, ctlNum)
            document.getElementById('div_filter__' + opt.value + '__' + ctlNum ).style.display="none"
            document.getElementById('ctl_filter__op__' + opt.value + '__' + ctlNum ).removeAttribute('name')
            document.getElementById('ctl_filter__value__' + opt.value + '__' + ctlNum ).removeAttribute('name')
          }
        }
        if(select.value) {
          select.classList.remove('grayedout')
          select.name="filter__fieldname__" + ctlNum
          document.getElementById('div_filter__' + select.value  + '__' + ctlNum ).style.display="block"
          document.getElementById('ctl_filter__op__' + select.value + '__' + ctlNum ).name="filter__op__" + ctlNum
          document.getElementById('ctl_filter__value__' + select.value  + '__' + ctlNum ).name="filter__value__" + ctlNum
        } else {
          select.removeAttribute("name")
        }
      }
      for( ctlNum = 0; ctlNum < qty_searches; ctlNum++ ) {
        console.log('tp m35b27 ', ctlNum)
        document.getElementById('ctl_filter__field__' + ctlNum).addEventListener('change', function(e) {
          showFilterField(e.target)
        })
        showFilterField(document.getElementById('ctl_filter__field__' + ctlNum))
        if( ctlNum < qty_searches - 1) {
            let localCtlNum = ctlNum
          document.getElementById('div_fieldsearch__' + ctlNum).addEventListener('click', function() {
            document.getElementById('div_fieldsearch__' + ( localCtlNum + 1 )).style.removeProperty('display')
          })
        }
      }
    </script>


    <h3>Default View</h3>
    <form method="POST">
      <div class="vista">
        {% csrf_token %}
        <div class="rowlabel">
          Get Default
        </div>
        <div class="controlset">
          <button type="submit" name="vista_query_submitted" value='True'>Default</button>
        </div>
      </div>
    </form>


    <h3>Saved View</h3>
    <form method="POST">
      <div class="vista">
        {% csrf_token %}
        <div class="rowlabel">
          Get Saved View
        </div>
        <div class="controlset">
          <select name="vista__name">
            <option value=''>-----</option>
            {% for vista in vistas%}
              <option value="{{ vista.name }}">{{ vista.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="rowlabel">
          Action
        </div>
        <div class="controlset">
          <button type="submit" name="retrieve_vista" value="retrieve_vista">Get</button>
          <button type="submit" name="delete_vista" value="delete">Delete</button>
        </div>
      </div>
    </form>

  </div>

  <div class="list">
    <div><a href="{% url 'libtekin:item-create' %}">create</a></div>
      <div class="row rowhead">
        {% include './_list_head.html' with field='' %}
        {% if 'common_name' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.common_name %}
        {% endif %}
        {% if 'mmodel' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.mmodel %}
        {% endif %}
        {% if 'primary_id' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.primary_id %}
        {% endif %}
        {% if 'serial_number' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.serial_number %}
        {% endif %}
        {% if 'service_number' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.service_number %}
        {% endif %}
        {% if 'asset_number' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.asset_number %}
        {% endif %}
        {% if 'barcode' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.barcode %}
        {% endif %}
        {% if 'network_name' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.network_name %}
        {% endif %}
        {% if 'phone_number' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.phone_number %}
        {% endif %}
        {% if 'essid' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.essid %}
        {% endif %}
        {% if 'role' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.role %}
        {% endif %}
        {% if 'connected_to' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.connected_to %}
        {% endif %}
        {% if 'condition' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.condition %}
        {% endif %}
        {% if 'home' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.home %}
        {% endif %}
        {% if 'location' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.location %}
        {% endif %}
        {% if 'assignee' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.assignee %}
        {% endif %}
        {% if 'borrower' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.borrower %}
        {% endif %}
        {% if 'owner' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.owner %}
        {% endif %}
        {% if 'latest_inventory' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=item_labels.latest_inventory %}
        {% endif %}


      </div>

      {% for item in object_list %}
        <div class="row">
          <div class="listfield"><a href="{% url 'libtekin:item-detail' item.pk %}">view</a></div>
          {% if 'common_name' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.common_name %}
          {% endif %}
          {% if 'mmodel' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.mmodel %}
          {% endif %}
          {% if 'primary_id' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.primary_id %}
          {% endif %}
          {% if 'serial_number' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.serial_number %}
          {% endif %}
          {% if 'service_number' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.service_number %}
          {% endif %}
          {% if 'asset_number' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.asset_number %}
          {% endif %}
          {% if 'barcode' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.barcode %}
          {% endif %}
          {% if 'network_name' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.network_name %}
          {% endif %}
          {% if 'phone_number' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.phone_number %}
          {% endif %}
          {% if 'essid' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.essid %}
          {% endif %}
          {% if 'role' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.role %}
          {% endif %}
          {% if 'connected_to' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.connected_to %}
          {% endif %}
          {% if 'condition' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.condition %}
          {% endif %}
          {% if 'home' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.home.short_name %}
          {% endif %}
          {% if 'location' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.location.short_name %}
          {% endif %}
          {% if 'assignee' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.assignee.friendly_name %}
          {% endif %}
          {% if 'borrower' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.borrower.friendly_name %}
          {% endif %}
          {% if 'owner' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.owner.friendly_name %}
          {% endif %}
          {% if 'latest_inventory' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.latest_inventory %}
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a id="a_first" href="?page=1">&laquo; first</a>
            <a id="a_previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a id="a_next" href="?page={{ page_obj.next_page_number }}">next</a>
            <a id="a_last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}
{% block bottomscript %}
  {{ block.super }}

  <script>

    for( paginator of ['a_first', 'a_previous', 'a_next', 'a_last']) {
      if(!(document.getElementById(paginator)==null) ) {
        document.getElementById(paginator).addEventListener('click', function(e) {
          e.preventDefault()
          document.getElementById('frm_vista').action = e.target.href
          document.getElementById('frm_vista').submit()
        });
      }
    }
  </script>


  <script>
    document.getElementById('btn_showvista').addEventListener('click', function(e){
      e.preventDefault
      toggleVisibility('div_vista', 'btn_showvista')
    });

    document.addEventListener('keydown', function(e) {
      if(e.ctrlKey) {
        if(e.shiftKey) {
          if(e.which==70) {
            e.preventDefault();
             toggleVisibility('div_vista', 'btn_showvista')
          }
        }
      }
    });
    toggleVisibility('div_vista', 'btn_showvista', 0 )

  </script>
{% endblock %}



{% comment %}
          let ctlNum = 0;
          let values = {
            'primary_id': "{{ filterfield__primary_id }}",
            'common_name': "{{ filterfield__common_name }}",
            'mmodel': "{{ filterfield__mmodel }}"
          }

          for( key in Object.keys(values)) {
            if( values[key] > "" ) {
              document.getElementById('ctl_filterfield_' + key).value = key
              ctlNum++
              if(ctlNum == qty_searches) {
                break
              }
            }
          }
        </script>


        <script>
          function showFilterField(select) {
            let ctlNum = select.id.substring(16)
            for(opt of select.options) {
              if(opt.value){
                document.getElementById('div_filter__' + opt.value + '_' + ctlNum ).style.display="none"
                document.getElementById('ctl_filterfield__' + opt.value + '_' + ctlNum ).name="_filterfield__" + opt.value
                document.getElementById('ctl_filter__op__' + opt.value + '_' + ctlNum ).name="_filter__op__" + opt.value
              }
            }
            if(select.value) {
              document.getElementById('div_filter__' + select.value  + '_' + ctlNum ).style.display="block"
              document.getElementById('ctl_filterfield__' + select.value  + '_' + ctlNum ).name="filterfield__" + select.value
              document.getElementById('ctl_filter__op__' + select.value + '_' + ctlNum ).name="filter__op__" + select.value
            }
          }
          for(i=0; i < qty_searches; i++) {
            document.getElementById('ctl_filterfield_' + i).addEventListener('change', function(e) {
              showFilterField(e.target)
            })
            showFilterField(document.getElementById('ctl_filterfield_' + i))
          }
        </script>
        {% endcomment %}

<!-- old vista logic
        <div class="rowlabel">
          Quick Search
        </div>
        <div class="controlset">
          <input id="ctl_combined_text_search" name="combined_text_search" value="{{ combined_text_search }}">
        </div>
        <div class="rowlabel">
          Model is
        </div>
        <input type="hidden" name="filter__op__mmodel" value="in">
        <div class="controlset value">
          <select multiple name="filterfield__mmodel">
            {% for mmodel in mmodels %}
              <option value="{{ mmodel.pk }}"{% if filterfield__mmodel %}{% if mmodel.pk|lower in filterfield__mmodel %} selected="SELECTED" {% endif %}{% endif %}>{{ mmodel }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="controlset null">
          <div class="label">
            Has no model
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__mmodel" value="isnull" {% if 'isnull' in filter__op__mmodel %}checked="CHECKED" {% endif %}>
          </div>
        </div>
        <div class="rowlabel">
          Category is  {{ filterfield__mmodel__category }}{% if filterfield__mmodel__category %}something{% else %}nothing{% endif %}
        </div>
        <input type="hidden" name="filter__op__mmodel__category" value="in">
        <div class="controlset value">
          <select multiple name="filterfield__mmodel__category">
            {% for mmodelcategory in mmodelcategories %}
              <option value="{{ mmodelcategory.pk }}"{% if filterfield__mmodel__category %}{% if mmodelcategory.pk|lower in filterfield__mmodel__category %} selected="SELECTED" {% endif %}{% endif %}>{{ mmodelcategory }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="controlset null">
          <div class="label">
            Has no category
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__mmodel__category" value="isnull" {% if 'isnull' in filter__op__mmodel__category %}checked="CHECKED" {% endif %}>
          </div>
        </div>
        <div class="rowlabel">
          Role is
        </div>
        <input type="hidden" name="filter__op__role" value="in">
        <div class="controlset value">
          <select multiple name="filterfield__role">
            {% for role in roles %}
              <option value="{{ role.pk }}"{% if filterfield__role %}{% if role.pk|lower in filterfield__role %} selected="SELECTED" {% endif %}{% endif %}>{{ role }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="controlset null">
          <div class="label">
            Has no role
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__role" value="isnull" {% if 'isnull' in filter__op__role %}checked="CHECKED" {% endif %}>
          </div>
        </div>
        <div class="rowlabel">
          Location is
        </div>
        <input type="hidden" name="filter__op__location" value="in">
        <div class="controlset value">
          <select multiple name="filterfield__location">
            {% for location in locations %}
              <option value="{{ location.pk }}"{% if filterfield__location %}{% if location.pk|lower in filterfield__location %} selected="SELECTED" {% endif %}{% endif %}>{{ location }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="controlset null">
          <div class="label">
            Has no location
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__location" value="isnull" {% if 'isnull' in filter__op__location %}checked="CHECKED" {% endif %}>
          </div>
        </div>
        <div class="rowlabel">
          Home is
        </div>
        <input type="hidden" name="filter__op__home" value="in">
        <div class="controlset value">
          <select multiple name="filterfield__home">
            {% for location in locations %}
              <option value="{{ location.pk }}"{% if filterfield__home %}{% if location.pk|lower in filterfield__home %} selected="SELECTED" {% endif %}{% endif %}>{{ location }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="controlset null">
          <div class="label">
            Has no home
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__home" value="isnull" {% if 'isnull' in filter__op__home %}checked="CHECKED" {% endif %}>
          </div>
        </div>

        <div class="rowlabel">
          Connected To Model is
        </div>
        <input type="hidden" name="filter__op__connected_to__mmodel" value="in">
        <div class="controlset value">
          <select multiple name="filterfield__connected_to__mmodel">
            {% for mmodel in mmodels %}
              <option value="{{ mmodel.pk }}"{% if filterfield__connected_to__mmodel %}{% if mmodel.pk|lower in filterfield__connected_to__mmodel %} selected="SELECTED" {% endif %}{% endif %}>{{ mmodel }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="controlset null">
          <div class="label">
            Is not connected
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__connected_to__mmodel" value="isnull" {% if 'isnull' in filter__op__connected_to__mmodel %}checked="CHECKED" {% endif %}>
          </div>
        </div>



        <div class="rowlabel">
          Condition is
        </div>
        <input type="hidden" name="filter__op__condition" value="in">
        <div class="controlset value">
          <select multiple name="filterfield__condition">
            {% for condition in conditions %}
              <option value="{{ condition.pk }}"{% if filterfield__condition %}{% if condition.pk|lower in filterfield__condition %} selected="SELECTED" {% endif %}{% endif %}>{{ condition }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="controlset null">
          <div class="label">
            Has no condition
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__condition" value="isnull" {% if 'isnull' in filter__op__condition %}checked="CHECKED" {% endif %}>
          </div>
        </div>
        <div class="rowlabel">
          Last Inventoried On or Before
        </div>
        <input type="hidden" name="filter__op__latest_inventory" value="lte">
        <div class="controlset value">
          <input type="date" name="filterfield__latest_inventory" value="{{ filterfield__latest_inventory }}">
        </div>
        <div class="controlset value">
          <div class="label">
            Has no inventory date
          </div>
          <div class="control">
            <input type="checkbox" name="filter__op__latest_inventory" value="isnull" {% if 'isnull' in filter__op__latest_inventory %}checked="CHECKED" {% endif %}>
          </div>
        </div>
      -->
