{% extends './_base.html' %}
{% block content %}

  {% include './itemnote_display_fields.html' %}

  <div class="menu menu-bottom">

    {% if perms.libtekin.delete_itemnote %}
      <div class="menu-item">
        <form method="Post">{% csrf_token %}<button type="submit">Confirm Delete</button></form>
      </div>
    {% endif %}

      <div class="menu-item">
        <a href="{% url 'libtekin:itemnote-detail' object.item.pk %}">Return to Note</a>
      </div>


  </div>
{% endblock %}
{% block bottomscript %}
{{ block.super }}
{% endblock %}

