  <h2>{{ object }}</h2>

  <div class="detail">
    {% include './_detail_field.html' with label=item_labels.common_name field=object.common_name %}
    {% include './_detail_field.html' with label=item_labels.mmodel field=object.mmodel %}
    {% include './_detail_field.html' with label=item_labels.primary_id field=object.primary_id %}
    {% include './_detail_field.html' with label=item_labels.serial_number field=object.serial_number %}
    {% include './_detail_field.html' with label=item_labels.service_number field=object.service_number %}
    {% include './_detail_field.html' with label=item_labels.asset_number field=object.asset_number %}
    {% include './_detail_field.html' with label=item_labels.barcode field=object.barcode %}
    {% include './_detail_field.html' with label=item_labels.phone_number field=object.phone_number %}
    {% include './_detail_field.html' with label=item_labels.essid field=object.essid %}
    {% include './_detail_field.html' with label=item_labels.network_name field=object.network_name %}
    {% include './_detail_field.html' with label=item_labels.connected_to field=object.connected_to %}
    {% include './_detail_field.html' with label=item_labels.condition field=object.condition %}
    {% include './_detail_field.html' with label=item_labels.status field=object.status %}
    {% include './_detail_field.html' with label=item_labels.home field=object.home %}
    {% include './_detail_field.html' with label=item_labels.location field=object.location %}
    {% include './_detail_field.html' with label=item_labels.assignee field=object.assignee %}
    {% include './_detail_field.html' with label=item_labels.borrower field=object.borrower %}
    {% include './_detail_field.html' with label=item_labels.owner field=object.owner %}
    {% include './_detail_field.html' with label=item_labels.latest_inventory field=object.latest_inventory %}
    {% include './_detail_field.html' with label=item_labels.inventory_date field=object.inventory_date %}

    <h3>Notes</h3><span id="div_itemNotesShowing">Showing All </span><a href="#" id="a_toggleCurrent">Show Current</a>
    {% for itemnote in object.itemnote_set.all %}
      <div class="relatedset relateditemnote{% if itemnote.is_current %} current{% endif %}" id="div_itemnote-{{ forloop.counter0 }}">
        <div class="fieldWrapper">
          <div class="control">
            <div class="label">
              Note:
            </div>
            <div class="field">
              {{ itemnote }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <script>
    function toggleCurrentNotes() {
      var itemNotes=document.getElementsByClassName('relateditemnote')
      var itemNotesShowing = document.getElementById('div_itemNotesShowing')
      var toggleCurrent = document.getElementById('a_toggleCurrent')
      if(toggleCurrent.textContent=='Show All '){
        for(itemNote of itemNotes) {
          if(!(itemNote.classList.contains('current'))){
            itemNote.classList.remove('hidden')
          }
        }
        toggleCurrent.textContent='Show Current '
        itemNotesShowing.textContent='Showing All '
      } else {
        for(itemNote of itemNotes) {
          if(!(itemNote.classList.contains('current'))){
            console.log('adding hidden')
            itemNote.classList.add('hidden')
          }
        }
        toggleCurrent.textContent='Show All '
        itemNotesShowing.textContent='Showing Current '
      }
    }
    toggleCurrentNotes()
    document.getElementById('a_toggleCurrent').addEventListener('click', function(e) {
      e.preventDefault()
      toggleCurrentNotes()
    });
  </script>
