  <h2>{{ object }}</h2>

  <div class="detail">
    {% include './_detail_field.html' with label=itemnote_labels.item field=object.item %}
    {% include './_detail_field.html' with label=itemnote_labels.is_status field=object.is_status %}
    {% include './_detail_field.html' with label=itemnote_labels.is_current field=object.is_current %}
    {% include './_detail_field.html' with label=itemnote_labels.when field=object.when %}
    {% include './_detail_field.html' with label=itemnote_labels.itemnotecategory field=object.itemnotecategory %}
    {% include './_detail_field.html' with label=itemnote_labels.maintext field=object.maintext %}
    {% include './_detail_field.html' with label=itemnote_labels.details field=object.details %}
</div>
