  <h2>{{ object }}</h2>
  <div class="detail">
    {% include './_detail_field.html' with label=item_labels.common_name field=object.common_name %}
    {% include './_detail_field.html' with label=item_labels.mmodel field=object.mmodel %}
    {% include './_detail_field.html' with label=item_labels.primary_id field=object.primary_id %}
    {% include './_detail_field.html' with label=item_labels.serial_number field=object.serial_number %}
    {% include './_detail_field.html' with label=item_labels.service_number field=object.service_number %}
    {% include './_detail_field.html' with label=item_labels.asset_number field=object.asset_number %}
    {% include './_detail_field.html' with label=item_labels.barcode field=object.barcode %}
    {% include './_detail_field.html' with label=item_labels.network_name field=object.network_name %}
    {% include './_detail_field.html' with label=item_labels.condition field=object.condition %}
    {% include './_detail_field.html' with label=item_labels.home field=object.home %}
    {% include './_detail_field.html' with label=item_labels.location field=object.location %}
    {% include './_detail_field.html' with label=item_labels.assignee field=object.assignee %}
    {% include './_detail_field.html' with label=item_labels.borrower field=object.borrower %}
    {% include './_detail_field.html' with label=item_labels.owner field=object.owner %}

    <h3>Notes</h3><span id="div_untimedNotesShowing">Showing All Notes </span><a href="#" id="a_toggleMajor">Show Major</a>
    {% for untimednote in object.untimednote_set.all %}
      <div class="relatedset relateduntimednote{% if untimednote.is_major %} current{% endif %}" id="div_untimednote-{{ forloop.counter0 }}">
        <div class="fieldWrapper">
          <div class="control">
            <div class="label">
              Note:
            </div>
            <div class="field">
              {{ untimednote.subject }}: {{ untimednote.text }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <h3>Timed Notes</h3><span id="div_timelyNotesShowing">Showing All </span><a href="#" id="a_toggleCurrent">Show Current</a>
    {% for timelynote in object.timelynote_set.all %}
      <div class="relatedset relatedtimelynote{% if timelynote.is_current_status %} current{% endif %}" id="div_timelynote-{{ forloop.counter0 }}">
        <div class="fieldWrapper">
          <div class="control">
            <div class="label">
              Note:
            </div>
            <div class="field">
              {{ timelynote.when }}: {{ timelynote.text }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <script>
    function toggleCurrentNotes() {
      var timelyNotes=document.getElementsByClassName('relatedtimelynote')
      var timelyNotesShowing = document.getElementById('div_timelyNotesShowing')
      var toggleCurrent = document.getElementById('a_toggleCurrent')
      if(toggleCurrent.textContent=='Show All '){
        for(timelyNote of timelyNotes) {
          if(!(timelyNote.classList.contains('current'))){
            console.log('removing hidden')
            timelyNote.classList.remove('hidden')
          }
        }
        toggleCurrent.textContent='Show Current '
        timelyNotesShowing.textContent='Showing All '
      } else {
        for(timelyNote of timelyNotes) {
          if(!(timelyNote.classList.contains('current'))){
            console.log('adding hidden')
            timelyNote.classList.add('hidden')
          }
        }
        toggleCurrent.textContent='Show All '
        timelyNotesShowing.textContent='Showing Current '
      }
    }
    toggleCurrentNotes()
    document.getElementById('a_toggleCurrent').addEventListener('click', function(e) {
      e.preventDefault()
      toggleCurrentNotes()
    });

    function toggleMajorNotes() {
      var untimedNotes=document.getElementsByClassName('relateduntimednote')
      var untimedNotesShowing = document.getElementById('div_untimedNotesShowing')
      var toggleMajor = document.getElementById('a_toggleMajor')
      if(toggleMajor.textContent=='Show All '){
        for(untimedNote of untimedNotes) {
          if(!(untimedNote.classList.contains('current'))){
            console.log('removing hidden')
            untimedNote.classList.remove('hidden')
          }
        }
        toggleMajor.textContent='Show Major '
        untimedNotesShowing.textContent='Showing All '
      } else {
        for(untimedNote of untimedNotes) {
          if(!(untimedNote.classList.contains('current'))){
            console.log('adding hidden')
            untimedNote.classList.add('hidden')
          }
        }
        toggleMajor.textContent='Show All '
        untimedNotesShowing.textContent='Showing Major '
      }
    }
    toggleMajorNotes()
    document.getElementById('a_toggleMajor').addEventListener('click', function(e) {
      e.preventDefault()
      toggleMajorNotes()
    });
  </script>
