  <div class="detail">
    {% include 'touglates/detail_field.html' with label=item_labels.common_name field=object.common_name %}
    {% include 'touglates/detail_field.html' with label=item_labels.mmodel field=object.mmodel %}
    {% include 'touglates/detail_field.html' with label=item_labels.primary_id field=object.primary_id %}
    {% include 'touglates/detail_field.html' with label=item_labels.serial_number field=object.serial_number %}
    {% include 'touglates/detail_field.html' with label=item_labels.service_number field=object.service_number %}
    {% include 'touglates/detail_field.html' with label=item_labels.asset_number field=object.asset_number %}
    {% include 'touglates/detail_field.html' with label=item_labels.barcode field=object.barcode %}
    {% include 'touglates/detail_field.html' with label=item_labels.phone_number field=object.phone_number %}
    {% include 'touglates/detail_field.html' with label=item_labels.mobile_id field=object.mobile_id %}
    {% include 'touglates/detail_field.html' with label=item_labels.sim_iccid field=object.sim_iccid %}
    {% include 'touglates/detail_field.html' with label=item_labels.network_name field=object.network_name %}
    {% include 'touglates/detail_field.html' with label=item_labels.connected_to field=object.connected_to %}
    {% include 'touglates/detail_field.html' with label=item_labels.status field=object.status %}
    {% include 'touglates/detail_field.html' with label=item_labels.home field=object.home %}
    {% include 'touglates/detail_field.html' with label=item_labels.location field=object.location %}
    {% include 'touglates/detail_field.html' with label=item_labels.assignee field=object.assignee %}
    {% include 'touglates/detail_field.html' with label=item_labels.borrower field=object.borrower %}
    {% include 'touglates/detail_field.html' with label=item_labels.owner field=object.owner %}
    {% include 'touglates/detail_field.html' with label=item_labels.latest_inventory field=object.latest_inventory %}
    {% include 'touglates/detail_field.html' with label=item_labels.installation_date field=object.installation_date %}

    {% if not hide_notes %}
    <h3>Notes</h3><span id="div_itemNotes">Showing All </span><a href="#" id="a_toggleNotes">Show Flagged</a>
    {% for itemnote in object.itemnote_set.all %}
      <div class="relatedset relateditemnote level{{ itemNote.itemnotelevel }} {% if itemnote.flagged %} flagged{% endif %}" id="div_itemnote-{{ forloop.counter0 }}">
        {% include 'touglates/list_fields.html' with field_1_label='Note:' field_1=itemnote.when field_2=itemnote.itemnotecategory|default_if_none:'' field_3=itemnote.maintext %}
      </div>
    {% endfor %}
    {% endif %}
    <h3>Assignees</h3><a href="#" id="a_toggleAssignees">Hide Assignees</a>
    {% for itemassignee in object.itemassignee_set.all %}
      <div class="relatedset relateditemassignee" id="div_itemassignee-{{ forloop.counter0 }}">
        {% include 'touglates/list_fields.html' with field_1_label='Assignee:' field_1=itemassignee.when field_2=itemassignee.assignee|default_if_none:'' %}
      </div>
    {% endfor %}

    <h3>Borrowers</h3><a href="#" id="a_toggleBorrowers">Hide Borrowers</a>
    {% for itemborrower in object.itemborrower_set.all %}
      <div class="relatedset relateditemborrower" id="div_itemborrower-{{ forloop.counter0 }}">
        {% include 'touglates/list_fields.html' with field_1_label='Borrower:' field_1=itemborrower.when field_2=itemborrower.assignee|default_if_none:'' %}
      </div>
    {% endfor %}

  </div>

  <script>
    function toggleNotes() {
      var itemNotes=document.getElementsByClassName('relateditemnote')
      var itemNotesShowing = document.getElementById('div_itemNotes')
      var toggleNotes = document.getElementById('a_toggleNotes')
      if(toggleNotes.textContent=='Show All '){
        for(itemNote of itemNotes) {
          if(!(itemNote.classList.contains('flagged'))){
            itemNote.classList.remove('hidden')
          }
        }
        toggleNotes.textContent='Show Flagged '
        itemNotesShowing.textContent='Showing All '
      } else {
        for(itemNote of itemNotes) {
          if(!(itemNote.classList.contains('flagged'))){
            console.log('adding hidden')
            itemNote.classList.add('hidden')
          }
        }
        toggleNotes.textContent='Show All '
        itemNotesShowing.textContent='Showing Flagged'
      }
    }
    toggleNotes()
    document.getElementById('a_toggleNotes').addEventListener('click', function(e) {
      e.preventDefault()
      toggleNotes()
    });
    function toggleAssignees() {
      var itemAssignees=document.getElementsByClassName('relateditemassignee')
      var toggleAssignees = document.getElementById('a_toggleAssignees')
      if(toggleAssignees.textContent=='Show Assignees'){
        for(itemAssignee of itemAssignees) {
            itemAssignee.classList.remove('hidden')
          }
        toggleAssignees.textContent='Hide Assignees'
      } else {
        for(itemAssignee of itemAssignees) {
          itemAssignee.classList.add('hidden')
        }
        toggleAssignees.textContent='Show Assignees'
      }
    }
    toggleAssignees()
    document.getElementById('a_toggleAssignees').addEventListener('click', function(e) {
      e.preventDefault()
      toggleAssignees()
    });
    function toggleBorrowers() {
      var itemBorrowers=document.getElementsByClassName('relateditemborrower')
      var toggleBorrowers = document.getElementById('a_toggleBorrowers')
      if(toggleBorrowers.textContent=='Show Borrowers'){
        for(itemBorrower of itemBorrowers) {
            itemBorrower.classList.remove('hidden')
          }
        toggleBorrowers.textContent='Hide Borrowers'
      } else {
        for(itemBorrower of itemBorrowers) {
          itemBorrower.classList.add('hidden')
        }
        toggleBorrowers.textContent='Show Borrowers'
      }
    }
    toggleBorrowers()
    document.getElementById('a_toggleBorrowers').addEventListener('click', function(e) {
      e.preventDefault()
      toggleBorrowers()
    });

</script>
<script>
  document.getElementById('a_addnote').addEventListener('click', function(e) {
    e.preventDefault()
    window.open(e.target.href)
  });
</script>
