{% extends './_base.html' %}
{% block content %}

<div class="list">
  <div><a href="{% url 'libtekin:mmodel-create' %}">create</a></div>
    <div class="row rowhead">
      {% include 'touglates/list_head.html' with field='' %}
      {% include 'touglates/list_head.html' with field=mmodel_labels.brand %}
      {% include 'touglates/list_head.html' with field=mmodel_labels.model_name %}
      {% include 'touglates/list_head.html' with field=mmodel_labels.model_number %}
      {% include 'touglates/list_head.html' with field=mmodel_labels.category %}
      {% include 'touglates/list_head.html' with field=mmodel_labels.primary_id_field %}
    </div>
    {% for mmodel in object_list %}
      <div class="row">
        <div class="listfield"><a href="{% url 'libtekin:mmodel-detail' mmodel.pk %}">view</a></div>
        {% include 'touglates/list_field.html' with field=mmodel.brand %}
        {% include 'touglates/list_field.html' with field=mmodel.model_name %}
        {% include 'touglates/list_field.html' with field=mmodel.model_number %}
        {% include 'touglates/list_field.html' with field=mmodel.category %}
        {% include 'touglates/list_field.html' with field=mmodel.primary_id_field %}
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
